<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="https://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>seller_login_servlet</servlet-name>
		<servlet-class>servlet.seller_login_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seller_login_servlet</servlet-name>
		<url-pattern>/adminlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>store_book_servlet</servlet-name>
		<servlet-class>servlet.store_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>store_book_servlet</servlet-name>
		<url-pattern>/storebooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update_book_servlet</servlet-name>
		<servlet-class>servlet.update_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update_book_servlet</servlet-name>
		<url-pattern>/updatebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>customer_login_servlet</servlet-name>
		<servlet-class>servlet.customer_login_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customer_login_servlet</servlet-name>
		<url-pattern>/userlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contact_servlet</servlet-name>
		<servlet-class>servlet.contact_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact_servlet</servlet-name>
		<url-pattern>/addcontact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>about_servlet</servlet-name>
		<servlet-class>servlet.about_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>about_servlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout_servlet</servlet-name>
		<servlet-class>servlet.logout_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout_servlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>customer_register_servlet</servlet-name>
		<servlet-class>servlet.customer_register_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customer_register_servlet</servlet-name>
		<url-pattern>/userreg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>remove_book_servlet</servlet-name>
		<servlet-class>servlet.remove_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remove_book_servlet</servlet-name>
		<url-pattern>/removebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add_book_servlet</servlet-name>
		<servlet-class>servlet.add_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add_book_servlet</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>view_book_servlet</servlet-name>
		<servlet-class>servlet.view_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>view_book_servlet</servlet-name>
		<url-pattern>/viewbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cart_servlet</servlet-name>
		<servlet-class>servlet.cart_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cart_servlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>buy_book_servlet</servlet-name>
		<servlet-class>servlet.buy_book_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>buy_book_servlet</servlet-name>
		<url-pattern>/buybook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>receipt_servlet</servlet-name>
		<servlet-class>servlet.receipt_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>receipt_servlet</servlet-name>
		<url-pattern>/buys</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkout_servlet</servlet-name>
		<servlet-class>servlet.checkout_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkout_servlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>process_pay_servlet</servlet-name>
		<servlet-class>servlet.process_pay_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>process_pay_servlet</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>

	<!-- Error Handlers -->
	<servlet>
		<servlet-name>error_handler_servlet</servlet-name>
		<servlet-class>servlet.error_handler_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>error_handler_servlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<!-- error-code related error pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error</location>
	</error-page>
	
	<!-- exception-type related error pages -->
	<error-page>
		<exception-type>
			javax.servlet.ServletException
		</exception-type>
		<location>/error</location>
	</error-page>
	<!-- exception-type related all errors -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error</location>
	</error-page>

	<!-- welcome file -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>